.current-weather {
  position: relative;
  transition: 1s box-shadow;
}

.current-weather:hover {
  box-shadow: 0 5px 35px 0px rgba(0, 0, 0, 0.1);

  z-index: 1;
  color: #fdfdfd;
  /* background-color: #fda8cf; */
  border: #fda8cf;
  background-color: #a8fda8;
}

.current-weather:hover:before,
.current-weather:hover:after {
  display: block;
  content: "";
  position: absolute;

  width: 110%;
  height: 110%;
 
  background-color: #a8fda8;
  border-radius: 75px;
  z-index: -1;
  animation: 1.5s clockwise infinite;
}

.current-weather:hover:after {
  background: #207427;
  animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;
  }
}
